
.u-section-1 .u-sheet-1 {
  min-height: 641px;
}
.cart-container {
  background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(10px);
   width: 60%;
   max-width: 60%;
   padding: 30px;
   text-align: center;
   position: absolute;
   /* Добавляем позиционирование */
   top: 50%;
   /* Центрируем по вертикали */
   left: 50%;
   /* Центрируем по горизонтали */
   transform: translate(-50%, -50%);
   /* Корректируем смещение */
 }

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
}

.cart-item .close-btn {
  /* position: absolute; */
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: red;
  /* z-index: 10; */
}

.cart-item .quantity-control {
  position: relative;
  z-index: 5;
}

.cart-item .close-btn:hover {
  color: darkred;
}

 .cart-item img {
   width: 60px;
   height: 60px;
   object-fit: cover;
   border-radius: 5px;
   margin-right: 15px;
 }

 .item-details {
   flex: 1;
 }

 .item-details h3 {
   font-size: 1rem;
   margin: 0;
 }

 .item-details p {
   font-size: 0.9rem;
   color: #e6ed05;
   margin: 5px 0 0;
 }

 .quantity-control {
   display: flex;
   align-items: center;
 }

 .quantity-control button {
   background: #6e8efb;
   color: #fff;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   border-radius: 3px;
   font-size: 0.9rem;
 }

 .quantity-control span {
   margin: 0 10px;
   font-size: 1rem;
   color: #fff;
 }

 .total-price {
   text-align: right;
   font-size: 1.2rem;
   font-weight: bold;
   margin-top: 20px;
   color: #fff;
 }

 .checkout-btn {
   display: block;
   width: 100%;
   padding: 10px;
   /* background: #6e8efb; */
   color: #fff;
   text-align: center;
   font-size: 1rem;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background 0.3s ease;
 }

 .checkout-btn:hover {
   background: #e1e908;
   color: #ffffff;
 }

 /* Адаптация под мобильные устройства */
 /* @media (max-width: 768px) {
   .cart-item {
     flex-direction: column;
     align-items: flex-start;
   }

   .cart-item img {
     margin-right: 0;
     margin-bottom: 10px;
   }

   .quantity-control {
     margin-top: 10px;
   }

   .checkout-btn {
     font-size: 0.9rem;
     padding: 8px;
   }
 } */
