.u-section-1 .u-sheet-1 {
  min-height: 1007px;
}

.u-section-1 .u-product-1 {
  min-height: 951px;
  width: 732px;
  height: auto;
  margin: 28px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-gallery-1 {
  width: 540px;
  height: 433px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-right: 10px;
  padding-top: 0;
  padding-left: 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 110px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  right: 0;
}

.u-section-1 .u-text-1 {
  width: 506px;
  margin: 80px auto 0;
}

.u-section-1 .u-product-price-1 {
  margin: 44px auto 0;
}

.u-section-1 .u-text-2 {
  width: 506px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 54px auto 0;
  padding: 10px 43px 10px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-product-1 {
    width: 668px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-gallery-1 {
    width: 471px;
    height: 357px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-right: 71px;
    margin-left: 24px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 71px;
    margin-right: 71px;
    margin-left: 37px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-top: 177px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-product-1 {
    min-height: 1030px;
  }

  .u-section-1 .u-gallery-1 {
    width: 660px;
    height: 553px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 55px;
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 55px;
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-product-1 {
    margin-bottom: -68px;
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    width: 520px;
    height: 415px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-1 {
    width: 247px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 52px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-product-1 {
    width: 340px;
    min-height: 1036px;
    margin-bottom: 28px;
  }

  .u-section-1 .u-gallery-1 {
    height: 276px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 145px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 79px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 79px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 230px;
  }
}